<h1>Token Holders API Admin</h1>

<br><br>

<form method="post">
    <label for="symbol">Symbol: </label>
    <input type="text" name="symbol">

    <br><br>
    <label for="contract">Contract: </label>
    <input type="text" name="contract">

    <br><br>
    <label for="blockno">Block No: </label>
    <input type="number" name="blockno">

    <br><br>
    <label for="decimal">Decimal: </label>
    <input type="number" name="decimal">

    <br><br>
    <input type="submit" value="submit">
</form>



